body {
font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
background-color: #ff9f43;
color: #fff;
padding: 50px;
width: 900px;
margin: 0 auto;
text-align: center;
}
h1 {
  font-size: 80px;
}

.container {
  margin: 60% auto;
}
button {
  display: inline;
  background-color: #222f3e;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}
